.head-container {
    background-color: black;
}

.piggy-heading {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: goldenrod; 
    text-align: center;
}

.piggy-rules {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: whitesmoke;
    background-color: black;
    padding-top : 1%;
    padding-bottom: 0%;
}

.background {
    padding: 100%
}

#user1 {
    padding-top: 25%;
    padding-bottom: 0%;
}

#user2 {
    padding-top: 25%;
    padding-bottom: 0%;
}

#dice-back {
    background-image: url("../img/dice1.jpeg");
    background-size: 100%;
    padding: 15%;
    padding-left: 50px;
}